root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

[*.{c,cpp,cc,cxx,h,hpp}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.po]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true